<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Plugin ke</title>
    <link rel="stylesheet" href="/styles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins"
    />
    <link rel="favicon.icon" sizes="180x180" href="/images/The_Plug.ico" />
    <link
      rel="icon"
      type="image/jpg"
      sizes="32x32"
      href="/images/The_Plug-32x32.jpg"
    />
    <link
      rel="icon"
      type="image/jpg"
      sizes="16x16"
      href="/images/The_Plug-16x16.jpg"
    />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body>
    <header class="navbar">
        <div class="logo">
          <a href="/"
            ><img src="/images/the_plug_logo.jpg" alt="The Plug Logo"
          /></a>
        </div>
        
        <div class="search-bar">
          <input type="text" placeholder="Search..." />
          <button>
            <i class="fas fa-search"></i>
          </button>
          
        </div>
        <button class="menu-button">
          <i class="fas fa-bars"></i>
        </button>
        
        <ul class="menu">
          <% if (user) { %>
          <li> Welcome <%= user.email %> </li>
          <li><a href="./reviews">Write a review</a></li>
          <li><a href="/logout">Logout</a></li>
          <% } else {%>
          <li><a href="./reviews">Write a review</a></li>
          <li><a href="./login">Login</a></li>
          <li><a href="./signup">Signup</a></li>
          <% } %>
        </ul>
      </nav>
    </header> 