<div class="reviews">
    <a href="/businessreviews">
      <h2 class="heading">User Reviews</h2>
      <ul class="review-list">
        <li>
          <a href="https://www.carrefour.ke/mafken/en/" target="_blank">
            <h2>Carrefour</h2>
          </a>
          <img src="./images/Shopping_Cart.jpg" alt="Shopping Cart Image" />
          <h3>Terry</h3>
          I got the best deal at Carrefour yesterday when they posted their
          offers on the app. I saved half the amount!
        </li>
        <li>
          <a href="https://www.artcaffe.co.ke/" target="_blank"><h2>Art Caffe</h2> </a>
          <img src="./images/Cofee_Mug.jpg" alt="Coffee Mug Image" />
          <h3>Hillary</h3>
          I ordered the salt caramel cake and a latte and the customer
          service was really good.
        </li>
        <li>
          <a
            href="https://linktr.ee/BlanketsnWine?fbclid=PAAaYV5S63feEFTHeE1HlS5-O_f0mKQYUmdXUb8BsDuIhr4CFv6T0JGz3TEho_aem_AQYr3Ii30QCeYoBoEI0MH7BqBu7A5nCjq8W6reo0CD64cr9_9bj2SmhsLJKb60mhbFM" target="_blank"
            ><h2>Kinoti’s EP listening party</h2>
          </a>
          <img src="./images/Microphone.jpg" alt="Microphone Image" />
          <h3>Anita</h3>
          This listening party was mad vibes, I love the ambiance and
          meeting cool people with my music taste.
        </li>
      </ul>
    </a>
  </div>
</section>