<section class="mainbody">
  <div class="weeklyPicksContainer">
    <a href="/toppicks" class="heading">
      <h2 >Top Picks Of The Week</h2>
    </a>
      <ul class="weekly-picks-list">
        <li>
          <a href="top-picks.html" class="content1">
            <img src="images/restaurant_2.jpg" alt="Restaurants with offers"/>
            <h3>Restaurants with offers</h3>
          </a>
        </li>
        <li>
          <a href="top-picks.html" class="content2">
            <img src="images/movie_things.jpg" alt="Movie discount pics"/>
            <h3>Movie discounts</h3>
          </a>
        </li>
        <li>
          <a href="top-picks.html" class="content3">
            <img src="images/concert.jpg" alt="Events of the week" />
            <h3>Events of the week</h3>
          </a>
        </li>
      </ul>
    </div>