<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Plugin ke</title>
    <link rel="stylesheet" href="/404.css"/>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins"
    />
    <link rel="favicon.icon" sizes="180x180" href="/images/The_Plug.ico" />
    <link
      rel="icon"
      type="image/jpg"
      sizes="32x32"
      href="/images/The_Plug-32x32.jpg"
    />
    <link
      rel="icon"
      type="image/jpg"
      sizes="16x16"
      href="/images/The_Plug-16x16.jpg"
    />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <%- include('partials/404page'); -%>
</html>
