<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Plugin ke</title>
    <link rel="stylesheet" href="/styles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins"
    />
    <link rel="favicon.icon" sizes="180x180" href="/images/The_Plug.ico" />
    <link
      rel="icon"
      type="image/jpg"
      sizes="32x32"
      href="/images/The_Plug-32x32.jpg"
    />
    <link
      rel="icon"
      type="image/jpg"
      sizes="16x16"
      href="/images/The_Plug-16x16.jpg"
    />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body>
    <header class="navbar">
        <div class="logo">
          <a href="/"
            ><img src="/images/the_plug_logo.jpg" alt="The Plug Logo"
          /></a>
        </div>
        
        <div class="search-bar">
          <input type="text" placeholder="Search..." />
          <button>
            <i class="fas fa-search"></i>
          </button>
          
        </div>
        <button class="menu-button">
          <i class="fas fa-bars"></i>
        </button>
        
        <ul class="menu">
          <% if (user) { %>
          <li> Welcome <%= user.email %> </li>
          <!-- <li><a href="./reviews">Write a review</a></li> -->
          <li><a href="/logout">Logout</a></li>
          <% } else {%>
          <li><a href="./reviews">Write a review</a></li>
          <li><a href="./login">Login</a></li>
          <li><a href="./signup">Signup</a></li>
          <% } %>
        </ul>
      </nav>
    </header>

<body>
  <main>
    <div class="heading">
      <h2>REVIEW PAGE</h2>
    </div>
    <form action="#">
      <div class="container">
        <div class="business">
          <div class="Business-name">
            <label class="business-name">
              Enter the business name
              <i class="fas fa-building"></i>
            </label>
            <input
              type="text"
              name="business_name"
              class="wide-input"
              autocomplete="off"
            />
          </div>
          <div class="Business-icon">
            <label for="business-icon" class="business-icon">
              Choose an icon for the business
            </label>
            <select
              id="business-icon"
              name="business_icon"
              class="wide-input"
              onchange="updateTextBox(this)"
            >
              <!-- <option value="">Select an option</option> -->
              <option value="fa-Supermarket">Supermarket</option>
              <option value="fa-Restaurant">Restaurant</option>
              <option value="fa-Cars">Cars</option>
              <option value="fa-Pharmacy">Pharmacy</option>
              <option value="fa-Movies">Movies</option>
              <option value="fa-Event">Event</option>
            </select>
          </div>
          <div class="Business-link">
            <label class="business-link">
              Paste the business link
              <i class="fas fa-globe"></i>
            </label>
            <input
              type="text"
              name="business_link"
              class="wide-input"
              autocomplete="off"
            />
          </div>
        </div>
        <div class="textarea">
          <textarea
            name="name"
            rows="5"
            cols="80"
            placeholder="Leave a review here..."
          ></textarea>
        </div>
        <div class="wrapper">
          <div class="rating">
            <input type="radio" name="rating" id="rate-1" />
            <label for="rate-1" class="fas fa-star"></label>
            <input type="radio" name="rating" id="rate-2" />
            <label for="rate-2" class="fas fa-star"></label>
            <input type="radio" name="rating" id="rate-3" />
            <label for="rate-3" class="fas fa-star"></label>
            <input type="radio" name="rating" id="rate-4" />
            <label for="rate-4" class="fas fa-star"></label>
            <input type="radio" name="rating" id="rate-5" />
            <label for="rate-5" class="fas fa-star"></label>
          </div>
        </div>
        <div class="btn">
          <button type="submit">Post</button>
        </div>
      </div>
    </form>
  </main>

  <%- include('partials/footer') -%>
</body>
