<%- include('partials/header'); -%>
<main>
    <div>
      <section class="mainbody">
        <div class="weeklyPicksContainer">
          <a href="/toppicks" class="heading">
            <h2 >Top Picks Of The Week</h2>
          </a>
          <ul class="weeklyPicksList">
            <li class="weeklyPicksItem">
              <a
                href="https://www.tiktok.com/@nairobidisclosure?_t=8frtcG6mtYE&_r=1"
                target="_blank"
                class="weeklyPicksLink"
              >
                <img
                  src="./images/restaurant_2.jpg"
                  alt="Restaurants with offers"
                  class="weeklyPicksImage"
                />
                <h3>Restaurants with offers</h3>
              </a>
            </li>
            <li class="weeklyPicksItem">
              <a
                href="https://cinema.angacinemas.com/schedule"
                target="_blank"
                class="weeklyPicksLink"
              >
                <img
                  src="./images/movie_things.jpg"
                  alt="Movie discount"
                  class="weeklyPicksImage"
                />
                <h3>Movie discounts</h3>
              </a>
            </li>
            <li class="weeklyPicksItem">
              <a
                href="https://allevents.in/nairobi/music"
                target="_blank"
                class="weeklyPicksLink"
              >
                <img
                  src="./images/concert.jpg"
                  alt="Events of the week"
                  class="weeklyPicksImage"
                />
                <h3>Events of the week</h3>
              </a>
            </li>
          </ul>
          <ul class="weeklyPicksList">
            <li class="weeklyPicksItem">
              <a
                href="https://mydawa.com/"
                target="_blank"
                class="weeklyPicksLink"
              >
                <img
                  src="./images/Pharmacy.jpg"
                  alt="Online Pharmacy"
                  class="weeklyPicksImage"
                />
                <h3>Online Pharmacy</h3>
              </a>
            </li>
            <li class="weeklyPicksItem">
              <a
                href="https://www.kaiandkaro.com/"
                target="_blank"
                class="weeklyPicksLink"
              >
                <img
                  src="./images/Cars.jpg"
                  alt="Car Sales"
                  class="weeklyPicksImage"
                />
                <h3>Car Sales</h3>
              </a>
            </li>
            <li class="weeklyPicksItem">
              <a
                href="https://www.tacc.co.ke/product-cat/furniture-homeware/kitchenware/tableware/crockery-cutlery/"
                target="_blank"
                class="weeklyPicksLink"
              >
                <img
                  src="./images/Cutlery.jpg"
                  alt="Cutlery one-stop shop"
                  class="weeklyPicksImage"
                />
                <h3>Cutlery one-stop shop</h3>
              </a>
            </li>
          </ul>
        </div>
      </section>
    </div>    
  </main>

  <%- include('partials/footer') -%>